* {
    all: unset;
    font-family: 'Iosevka Nerd Font Propo';
    font-weight: 500;
    color: #d7dddd;
}

@keyframes spin {
    to {
        -gtk-icon-transform: rotate(1turn);
    }
}

spinner {
    animation-name: spin;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.indicator {
    padding: 0.15rem;
    min-width: 16rem;
    margin-bottom: 2rem;
    background-color: rgba(7, 54, 66, 0.75);
    font-size: 1.5rem;
    border-radius: 9999px;
}

.indicator label {
    padding-left: 1.125rem;
    min-width: 1.125rem;
}

.indicator scale {
    padding-right: 0.50rem;
}

scale contents trough {
    background-color: #3D4D51;
    border-radius: 16px;
    min-height: 12px;
    min-width: 4rem;
    margin: 12px;
}

scale contents trough highlight {
    background-color: #dc322f;
    min-width: 12px;
    min-height: 12px;
    border-radius: 16px;
}

scale value {
    font-size: 0px;
}

scale.low contents trough highlight {
    background-color: #268bd2;
}

scale.medium contents trough highlight {
    background-color: #2aa198;
}

scale.high contents trough highlight {
    background-color: #dc322f;
}

.notification-list {
    padding: 1rem;
}

.notification {
    background-color: rgba(7, 54, 66, 0.75);
    border-radius: 0.5rem;
    min-height: 16rem;
}

.notification-content {
    padding: 0.75rem;
    padding-right: 0.5rem;
    font-size: 0.95rem
}

.notification-title {
    font-size: 1.05rem;
    font-weight: 700;
}

.notification-body {
    color: #aeb9b9;
}

.notification-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 9999px;
    margin: 0.75rem;
    margin-right: 0rem;
    font-size: 3.5rem;
}

.bar {
    padding: 0.5rem;
    font-size: 1.25rem;
    background-color: rgba(7, 54, 66, 0.75);
    min-width: 1.25rem;
}

.wifi-spinner.disabled {
    -gtk-icon-source: none
}

.panel {
    background-color: rgba(7, 54, 66, 0.75);
    min-width: 10rem;
}